#resume {
    width: 90%;
    margin-bottom: 70px;
    padding-top: 70px;
    
    &>h1 {
        font-family: var(--font-roboto);
        font-size: clamp(2rem, 3vw, 4rem);
        text-transform: uppercase;
        text-align: center;
    }
    
    .selection {
        width: 100%;
        display: flex;
        gap: 10px;
        overflow: auto;
        @media (max-width: 860px) {
            padding-bottom: 10px;
        }
        
        .type {
            height: 50px;
            min-width: 200px;
            font-size: 1rem;
            font-size: clamp(0.8rem, 1.2vw, 1rem);
            border-radius: 5px;
            background: transparent;
            cursor: pointer;
        }

        .selection-container {
            display: flex;
            
            /*.type {
                @media (max-width: 860px) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }*/
            
            .career-option {
                height: 50px;
                width: 25px;
                font-size: 1rem;
                font-size: clamp(0.8rem, 1.2vw, 1rem);
                border-radius: 5px;
                background: transparent;
                cursor: pointer;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    
    #content-container {
        width: 100%;
        display: flex;
        gap: 25px;

        @media (max-width: 860px) {
            flex-direction: column;    
        }
    }

    .exp-name 
    {
        display: flex;
        flex-direction: column;
        width: 200px;
        gap: 15px;

        flex-grow: 0;
        flex-shrink: 0;

        @media (max-width: 860px) {
            overflow: auto;
            flex-direction: row;    
            width: 100%;
            padding-bottom: 15px;
        }

        button {
            width: 100%;
            padding: 15px 0;
            font-size: clamp(0.8rem, 1.2vw, 1rem);
            border-radius: 5px;
            background: transparent;
            outline: none;
            font-family: var(--font-roboto);
            cursor: pointer;
            transition: background-color 0.2s ease;
            
            @media (max-width: 860px) {
                flex-direction: row;    
                min-width: 150px;
                min-height: 50px;
                padding: 5px 15px;
            }
        }
    }

    .experience {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        #resume-name {
            font-family: var(--font-roboto);
        }
        
        #resume-date {
            font-family: var(--font-roboto);
            font-size: clamp(0.8rem, 1.2vw, 1rem);
        }

        #resume-website {
            text-decoration: none;
            font-family: var(--font-roboto);
            font-weight: 500;
            font-size: clamp(0.8rem, 1.2vw, 1rem);
        }

        #resume-description {
            font-family: var(--font-roboto);
            font-size: clamp(1.2rem, 1.2vw, 1.8rem);
            box-sizing: border-box;
        }

        #resume-bullets {
            font-family: var(--font-roboto);
            font-size: clamp(1.2rem, 1.2vw, 1.8rem);
            padding-left: 20px;

            li {
                margin: 0 0 23px 0;
            }
        }
    }
}



.app-dark-mode {
    #resume {
        &>h1 {
            color: var(--dark-resume-h1-color);
        }
        
        .selection {
    
            button {
                border: solid var(--dark-resume-selection-button-border-color) 2px;
                color: var(--dark-resume-selection-button-border-color);
            }

            .selected {
                background-color: var(--dark-resume-selection-button-border-color);
                color: var(--dark-resume-button-text-color);
            }
        }

        .exp-name 
        {
            button {
                border: solid var(--dark-resume-button-border-color) 2px;
                color: var(--dark-resume-button-text-color);
            }

            .selected {
                background-color: var(--dark-resume-button-border-color);
                color: var(--dark-resume-selected-button-text-color);
            }
        }
        .experience {
            border-left: solid var(--dark-border-left-exp) 2px;
            #resume-name {
                color: var(--dark-resume-name-color);
                text-transform: uppercase;
            }

            #resume-date {
                color: var(--dark-resume-date-color);
            }

            #resume-website {
                color: var(--dark-resume-website-color);
            }

            #resume-description {
                color: var(--dark-resume-description-color);
            }

            #resume-bullets {
                color: var(--dark-resume-description-color);
            }
        }
    }
}

.app-light-mode {
    #resume {
        &>h1 {
            color: var(--light-resume-h1-color);
        }
        
        .selection {
    
            button {
                border: solid var(--light-resume-selection-button-border-color) 2px;
                color: var(--light-resume-selection-button-border-color);
            }

            .selected {
                background-color: var(--light-resume-selection-button-border-color);
                color: var(--light-resume-button-text-color);
            }
        }

        .exp-name 
        {
            button {
                border: solid var(--light-resume-button-border-color) 2px;
                color: var(--light-resume-button-text-color);
            }

            .selected {
                background-color: var(--light-resume-button-border-color);
                color: var(--light-resume-selected-button-text-color);
            }
        }

        .experience {
            border-left: solid var(--light-border-left-exp) 2px;
            #resume-name {
                color: var(--light-resume-name-color);
                text-transform: uppercase;
            }

            #resume-date {
                color: var(--light-resume-date-color);
            }

            #resume-website {
                color: var(--light-resume-website-color);
            }

            #resume-description {
                color: var(--light-resume-description-color);
            }

            #resume-bullets {
                color: var(--light-resume-description-color);
            }
        }
    }
}