#contact {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    
    .contact-container {
        width: 500px;
        height: 500px;
        background-color: var(--dark-contact-background-color-lighter);
        border-radius: 10px;
        padding: 25px;
        box-sizing: border-box;
        font-family: var(--font-roboto);
        @media (max-width: 860px) {
            width: 90%;
        }

        h2 {
            color: var(--dark-home-h2-color);
        }

        .close-btn {
            width: 100%;
            height: 40px;
            font-size: 1rem;
            margin-top: 45px;
            border-radius: 10px;
            background-color: var(--dark-close-btn-bg-color);
            color: var(--dark-close-btn-color);
            border: none;
            transition: background-color 0.2s ease;
            font-family: var(--font-roboto);
            font-weight: bold;
            &:hover {
                cursor: pointer;
                background-color: var(--dark-close-btn-bg-color-hover);
            }
        }
    }
}



.app-dark-mode {
    #contact {
        &>h1 {
            color: var(--dark-skills-h1-color);
        }

        &>p {
            color: var(--dark-home-p-color);
        }
    }
}